/* footBox.css */
	#footBox {
		height:80px;
		background-color: #707070;
		padding-top:12px;
		padding-bottom:11px;
	}
		#footBox>h2 {
			width: 90px;
			height: 56px;
			background-image: url("../img/footer/footBox_01.png");
			background-repeat: no-repeat;
			float: left;
		}
		#footBox>address {
			width: 880px;
			height: 100%;
			color:#fff;
			font-style:normal;/* 기본형으로 바꿔라*(italic을 기본으로) */
			font-size:1em;
			margin-left:34px;
			margin-top:7px;
			float:left;
		}
		#footBox>address>p {
			line-height:1.5626em;/* 25px *//* font관련된건 px안쓰는게 좋다 */
			line-height: 25px;/* IE하위버전은 em이 안먹어서 px로 두번줘야한다.*/
			float:left;
		}
		#footBox>address>p:first-child {
			margin-right: 1em;
			letter-spacing: -0.0625em;/* 1px */
		}
		#footBox>address>p>a {
			color:inherit;
			border-right:1px solid #fff;
		}
		#footBox>address>p>a:hover {
			font-weight: normal;
			text-decoration: underline;
		}/* :last-child보단 앞에와야함 */
		#footBox>address>p>a:last-child {
			border-right:0;
			padding-right:0; 
		}