/* index.css */
/* #addBanner */

#addBanner {
	width:100vw;
	height:280px;
	position: relative;
	left: 50%;
	top: 0;
	margin-left: -50vw;
	background-image: url("../img/addBanner.png");
	background-size:100%;
}	



