/* index_asideBox.css */
	#asideBox {
		padding-top: 20px;
		padiing-bottom:22px;
		height:114px;
		background-color: #fff;
		border-bottom:1px solid #d3d3d3;
		box-sizing:border-box;
		margin-bottom:20px; 
	}
		.brand_main {
			width: 703px; 
			height: 40px; 
			margin-top: 15px; 
			float:left; 
		}
		#asideBox>ul>li {height:auto; float:left; }
		.margin_01 {margin-right:75px;}
		.margin_02 {margin-right:77px;}
		/*#asideBox>ul>li:last-child {margin-right:0;}*/
		/* text-indent는 첫줄 들여쓰기이다.그래서 여러줄일땐 오른쪽으로 계속 늘여쓴다. 
		line-height는 줄간격, 한줄일경우 박스의 높이값을 주면 가운데로 배치 */
		.select_menu {
			width: 250px;
			height: 32px;
			float:right;
			text-indent:10px;
			line-height:32px;
			box-sizing:border-box;
			border:1px solid #707070;
			background-color: #fff;
		}
		.brand_sel_01 {margin-bottom: 5px; position:relative; z-index: 100;}
		.brand_sel_02 {position:relative; z-index: 50;}
		
		.select_menu>dt {width: 100%; height: 100%; text-transform: uppercase; font-weight: bold;}
		.select_menu>dd {width: 100%; height: 100%; background-color: #fff; display:none; 
			border:inherit; margin-top: 0; box-sizing: border-box;}
		/* .select_menu>dt:hover ~ dd 로 해버리면 dt를 벗어나면 dd가사라짐 
		그래서 부모에다 주면 마우스를 dd에 내려도 사라지지 않음*/
		.select_menu:hover > dd {display:block;}
		