/* form_test_02.css */

body {background-color: #cac;}

.container {width:28.125rem;height:22.875rem; background-color:#fff;margin:0 auto;}

h2,h3,p,form {width:100%;padding-left:2.375rem;padding-right:2.375rem;box-sizing: border-box;color:#777;}

h2 {height:4.5rem;
	/** 그라디언트 효과를 주는데 배경이미지이다.
	 *(방향(안적어도 위에서 아래로 옴 그치만 쓰는게 좋음), 첫컬러, 두컬러, 셋컬러 등등) */
	background-image:-webkit-linear-gradient(45deg,#f06 75%,#fe7fb2 75%,#ec6da0 100%);
	/* background-image:-epub-linear-gradient(45deg,#f06 75%,#fe7fb2 75%,#ec6da0 100%); 전자책 */
	background-image:-moz-linear-gradient(45deg,#f06 75%,#fe7fb2 75%,#ec6da0 100%);
	background-image:-ms-linear-gradient(45deg,#f06 75%,#fe7fb2 75%,#ec6da0 100%);
	background-image:-o-linear-gradient(45deg,#f06 75%,#fe7fb2 75%,#ec6da0 100%);
	background-image:linear-gradient(45deg,#f06 75%,#fe7fb2 75%,#ec6da0 100%);
	color:#fff;font-weight:bold;padding-top:1.25rem;font-size:1.3rem;}

h3 {height:2.875rem;font-weight:bold;
	padding-top:1rem;padding-bottom:0.5rem;font-size:1rem;text-indent: 0.625rem;}

p {height:2.75rem;padding-bottom:0.75rem;margin-left:0.625rem;font-size:0.7rem;line-height: 1rem;}

form {height:12.75rem;padding-bottom: 1.25rem;}

dl {width:100%;height:6rem;background-color: #f1f1f1;padding:1.25rem 1rem 1rem 0.5rem;box-sizing: border-box;}
dt {width:4rem;height:1.125rem;font-size: 0.7rem;margin-right:0.8125rem;float:left;color:#333;}

fieldset:first-of-type {width:23.4375rem;height:9.25rem; }
fieldset:first-of-type>dl>dd {width:4.625rem;height:1.125rem;float:left;margin-bottom: 1.0625rem;}

fieldset:first-of-type>dl>dd>label.re {position:relative;z-index: -500;}
fieldset:first-of-type>dl>dd:nth-child(3) {margin-left:1.5625rem;margin-right:1.5625rem;position:relative;}
fieldset:first-of-type>dl>dd:nth-child(4) {position:relative;}
fieldset:first-of-type>dl>dd>input,select {width:100%;height:100%;background-color: fff;float:left;
border:0.0625rem solid #777;box-sizing: border-box;}
.line {width: 5px;height: 9px;border-bottom: 1px solid #333;position:absolute;z-index: 1000;right:85.5px;top:0;}

fieldset:first-of-type>dl>dd>input[type="radio"] {width:1rem;height:1rem;}
input[type="checkbox"] {margin-left:0.625rem;margin-top: 0.625rem;}

fieldset:last-of-type {width:12.125rem;height:2.5rem;margin:0 auto;}
fieldset:last-of-type>input {width:4.3125rem;height:2.375rem;padding:0;line-height: 2.375rem;color:#fff;font-size:1rem;}
fieldset:last-of-type>input[type="submit"] {background-color:#f06;}
fieldset:last-of-type>input[type="reset"] {float:right;margin-top:-2.375rem;background-color:#777;}