<!-- index.html -->
<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="favicon.png">
	<link rel="stylesheet" href="./css/myReset.css">
	<link rel="stylesheet" href="./css/index.css">

	<title>wooyang</title>

<!-- style -->
	<style>

	</style>
</head>
<body>
	<div class="container">
		<header id="headBox">
			<h1><a href="index.html"><img src="./img/headBox/logo_wooyang.png" alt="우양알앤비" title="우양비앤비"></a></h1>
			<nav id="gnb">
				<h2>wooyang전체메뉴</h2>
				<ul>
					<li class="gnb_01"><img src="./img/headBox/gnb_01.png" alt="우양메뉴"></li>
					<li class="gnb_02"><img src="./img/headBox/gnb_02.png" alt="우양메뉴"></li>
					<li class="gnb_03"><img src="./img/headBox/gnb_03.png" alt="우양메뉴"></li>
					<li class="gnb_04"><img src="./img/headBox/gnb_04.png" alt="우양메뉴"></li>
					<li class="gnb_05"><img src="./img/headBox/gnb_05.png" alt="우양메뉴"></li>
					<li class="gnb_06"><img src="./img/headBox/gnb_06.png" alt="우양메뉴"></li>
				</ul>
			</nav>
		</header>
		<aside id="asideBox"></aside>
		<section id="container"></section>
		<nav id="fnb">
		<footer id="footBox"></footer>
	</div><!-- //.container -->
</body>
</html>