/* style.css */
ul,li {margin:0;padding:0;}
.slides_container {width:625px;height: 471px;}
.slides_container div.item {width:625px;height: 471px;}
.pagination {list-style:none;}
.pagination li {float:left;padding: 3px;}
.pagination li a {display: block;width: 10px;height: 10px;background-color: #e6e6e6;
	border: 1px solid #aaa;text-indent: -9999px;border-radius: 6px;/*반지름만큼주면 네모가 원으로 바뀜*/}
.pagination li.current a {background-color: #57c129;}

