@charset "utf-8";
@import url("reset.css");

/* common */
.inner_container {width: 1140px;margin: 0 auto;}
h2 {font-size: 4em;}
/* 레이아웃 요소 */
.wrap{}
.header {background-color: #fbfbfb;border: 1px solid #dfdfdf;padding: 0.5em;}
.container {margin-top: 1em;}
.footer {background-color: #666;padding: 1em 0;color:#fff;}

